---
name: Continuous Integration
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
  schedule:
    - cron: 59 23 * * *
  workflow_dispatch:
    inputs:
      version:
        description: Manual CI Run
        default: test
        required: false
jobs:
  tests:
    name: ${{ matrix.os }}, ${{ matrix.environment-file }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      matrix:
        os:
          - ubuntu-latest
        environment-file:
          - ci/311-oldest.yaml
          - ci/311-latest.yaml
          - ci/312-latest.yaml
          - ci/313-latest.yaml
          - ci/314-latest.yaml
          - ci/314-dev.yaml
        include:
          - environment-file: ci/314-latest.yaml
            os: macos-15-intel
          - environment-file: ci/314-latest.yaml
            os: macos-latest
          - environment-file: ci/314-latest.yaml
            os: windows-latest
      fail-fast: false
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: setup micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: ${{ matrix.environment-file }}
          micromamba-version: latest
      - name: environment info
        run: |
          micromamba info
          micromamba list
      - name: spatial versions
        run: python -c "import geopandas; geopandas.show_versions();"
      - name: Download test files
        run: |
          python -c '
          import libpysal
          libpysal.examples.fetch_all()
          '
      - name: run tests
        run: |
          pytest spopt \
          -v \
          -r a \
          -n logical \
          --color yes \
          --cov spopt \
          --cov-append \
          --cov-report term-missing \
          --cov-report xml .
      - name: codecov
        uses: codecov/codecov-action@v5
