 name: Continuous Integration
 
 on:
   push:
     branches:
     - '*'
   pull_request:
     branches:
     - '*'
   schedule:
     - cron: '59 23 * * *'

 jobs:
   tests:
     name: ${{ matrix.os }}, ${{ matrix.environment-file }}
     runs-on: ${{ matrix.os }}
     timeout-minutes: 30
     env:
       RUN_TEST: pytest spopt -v -r a -n auto --cov spopt --cov-config .coveragerc --cov-report xml --color yes --cov-append --cov-report term-missing
     strategy:
       matrix:
         os: [ubuntu-latest]
         environment-file: [.ci/38.yaml, .ci/39.yaml, .ci/310.yaml, .ci/310-DEV_shapely_dev.yaml, .ci/311.yaml, .ci/311-DEV.yaml]
         include:
           - environment-file: .ci/311.yaml
             os: macos-latest
           - environment-file: .ci/311.yaml
             os: windows-latest
       fail-fast: false
    
     steps:
       - name: checkout repo
         uses: actions/checkout@v3
       
       - name: setup micromamba
         uses: mamba-org/provision-with-micromamba@main
         with:
           environment-file: ${{ matrix.environment-file }}
           micromamba-version: 'latest'
           channel-priority: 'flexible'

       - name: install pulp via pip
         shell: bash -l {0}
         run: pip install pulp 
       
       - name: install bleeding edge libpysal (only Ubuntu / Python 3.10)
         shell: bash -l {0}
         run: pip install git+https://github.com/pysal/libpysal.git@master
         if: matrix.os == 'ubuntu-latest' && contains(matrix.environment-file, 'DEV')
       
       - name: environment info
         shell: bash -l {0}
         run: |
           micromamba info
           micromamba list
       
       - name: spatial versions
         shell: bash -l {0}
         run: 'python -c "import geopandas; geopandas.show_versions();"'
       
       - name: run tests - bash
         shell: bash -l {0}
         run: ${{ env.RUN_TEST }}
         if: matrix.os != 'windows-latest'
       
       - name: run tests - powershell
         shell: powershell
         run: ${{ env.RUN_TEST }}
         if: matrix.os == 'windows-latest'
       
       - name: codecov
         uses: codecov/codecov-action@v3
         with:
           token: ${{ secrets.CODECOV_TOKEN }}
           file: ./coverage.xml
           name: spot-codecov
